:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	--max-width: 1170px;
	--fixed-width: 620px;
}

body {
	background-color: var(--clr-grey-1);
}
.calc-container {
	background-color: var(--clr-black);
	width: 300px;
	height: 560px;
	text-align: center;
	border-radius: var(--radius);
	border: 5px solid black;
	margin-left: 50px;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
}
.clock {
	position: relative;
	top: 15px;
	height: 40px;
	width: 110px;
	border-radius: 4px;
	left: 170px;
	background: var(--clr-black);
	text-align: center;
}
#time {
	color: var(--clr-black);
	position: relative;
	background: var(--clr-red-dark);
	width: 100px;
	height: 25px;
	top: 3px;
	left: 3px;
	padding-top: 6px;
	text-align: center;
	border: 2px solid var(--clr-white);
	border-radius: var(--radius);
}
.display {
	background-color: var(--clr-black);
	height: 45px;
	position: relative;
	display: inline-block;
	top: 30px;
	width: 265px;
	border-radius: var(--radius);
}
#screen {
	position: relative;
	height: 33px;
	top: 2.5px;
	width: 253px;
	background: #bccd95;
	text-align: right;
	font-size: 1.5em;
	border-radius: var(--radius);
	border: 4px solid black;
}
.keys {
	position: relative;
	top: 40px;
}
.btn {
	color: var(--clr-black);
	background: lightsteelblue;
	cursor: pointer;
	width: 40px;
	margin: 2px 2px 2px 4px;
	font-size: 0.9em;
	text-align: center;
	border: none;
	border-top: 2px solid transparent;
	padding: 3px;
}
.btn-sign {
	background: #413c3c;
	color: #ffff;
	border-radius: 12px;
	border-top: 2px solid #413c3c;
	border-bottom: 2px solid black;
}
.btn-sign:active {
	border-bottom: 2px solid #413c3c;
	border-top: 2px solid #000;
}
.btn-num {
	background-color: #000;
	color: #fff;
	font-size: 1.1em;
	border-radius: var(--radius);
	border-bottom: 2px solid #3b3737;
	border-top: 2px solid black;
}
.btn-num:active {
	border-top: 2px solid #3b3737;
	border-bottom: 2px solid black;
}
.btn-red {
	background-color: var(--clr-red-dark);
	padding: 4px;
	color: black;
	font-size: 1.1em;
	border-radius: var(--radius);
	border-bottom: 2px solid #000;
	border-top: 2px solid red;
	font-weight: 600;
}
.btn-red:active {
	border-bottom: 2px solid red;
	border-top: 2px solid #000;
}
.btn-opera {
	background-color: #111;
	color: #fff;
	padding: 4px;
	font-size: 1.1em;
	border-radius: var(--radius);
	border-bottom: 2px solid #111;
	border-top: 2px solid #000;
}
.btn-opera:active {
	border-top: 2px solid #111;
	border-bottom: 2px solid #000;
}
